/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-08-31 08:19:29
 */


body {
  margin: 0; /* Reset default margin */
  display: flex; /* Use flex layout */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Spread content along the horizontal axis */
  min-height: 100%; /* Ensure the body takes at least the full viewport height */
  min-width: 100%;
  font-family: 'Roboto Mono', monospace;
  flex-direction: column;
  background:  #FFFFFF;  /* Set a background color */
  overflow-x: hidden;
  overflow-y: auto
}


.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  padding: 10px;
}

.nav-link {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  color: rgba(54, 54, 54, 0.5); /* Transparent white */
  text-decoration: none;
  margin: 0 20px;
  position: relative;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.7); /* Lighter transparent white on hover */
}

.nav-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000; /* Blue color for the underline */
  position: absolute;
  bottom: -10px; /* Position the underline below the link */
  left: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background-color: #f0f0f0;
}

.side-by-side {
  display: flex; /* Use flex layout for the side-by-side elements */
  align-items: center; /* Vertically center both elements */
  justify-content: space-between; /* Spread elements along the horizontal axis */
  max-width: 100%;
  width: 100vw; /* Set the width to 100% of the parent container */
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.left-object {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start from the top */
  padding: 60px;
}

.backroundimg{
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

#text-container {
  font-size: 4vw;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#text-container2 {
  font-size: 2vw;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
  overflow: hidden;
}

.button-container {
  display: flex;
  align-items: center;
}

.button1 {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.button2 {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backroundimg {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: end;

    
}

.projects{
  display: flex;
  
}

.about {
  display: flex;
  min-width: 90vw;
  min-height: 100vh;
  flex-direction: column;
  padding : 60px;
  background: #f0f0f0
}

.projects {
  display: flex;
  min-width: 90vw;
  min-height: 100vh;
  flex-direction: column;
  padding : 60px;
  background: #ffffff
}

.headerproject {
  display: flex;
  flex-direction: column;
}


.heading-aboutme {
  font-size: 40px;
}

.heading-projects {
  font-size: 40px;
}

/* Style for the skills section */
.skills {
  display: flex;
  flex-direction: column;
}

/* Style for each skill */
.skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Style for skill name */
.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for skill bar container */
.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: relative;
}

/* Style for skill progress */
.skill-progress {
  height: 100%;
  border-radius: 5px;
  background-color: #3498db;
  width: 0; /* Initially set to zero width */
  transition: width 1.5s ease-in-out; /* Add transition for smooth animation */
}

.skill-percentage {
  margin-top: 5px;
  font-size: 14px;
  color: #555555;
}

.footer {
  background: #000000;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 25vw;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s, filter 0.3s; /* Add transitions for animation */
  color: #333; /* Text color */
}

.project:hover {
  transform: scale(1.05); /* Enlarge on hover */
  filter: blur(4px); /* Apply blur effect on hover */
}

.project h3 {
  font-size: 18px;
  margin: 10px 0;
}

.project p {
  margin: 0;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project:active {
  transform: scale(1); /* Reset the scale on click */
  filter: blur(0); /* Remove blur on click */
}

.project-list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0; /* Background color for the footer */
  padding: 20px;
}

.github-icon {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
}

.text {
  margin-top: 10px; /* Adjust spacing between icon and text */
}

.github-button {
  margin-top: 20px; /* Adjust spacing between text and button */
}

button {
  padding: 10px 20px;
  background-color: #3498db; /* Button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Change color on hover */
}


@media screen and (max-width: 768px) {

  body, html {
    overflow-x: hidden;
  }

  .navbar {
    position: fixed;
    top: 0; /* Position the navbar at the top */
    left: 50%; /* Center the navbar horizontally */
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    width: 90vw;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .nav-link {
    margin: 0;
    color: rgba(0, 0, 0, 0.5); /* Transparent gray */
    padding: 5px;
    text-decoration: none;
  }

  .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000; /* Blue color for the underline */
    position: absolute;
    bottom: -5px; /* Position the underline slightly above the link */
    left: 0;
  }

  .side-by-side {

    flex-direction: column-reverse;
  }

  .backroundimg {
    width: 80%;
    margin-top: 10px;
  }

  .left-object{
    display: flex;
    align-items: center;
    flex: 2;
  }

  #text-container {
    font-size: 30px;
  }

  #text-container2 {
    font-size: 20px;
  }

  .button1,
  .button2 {
    padding: 5px 10px;
    font-size: 12px;
  }

  .project-list {
    padding-top: 60px; /* Increase padding to create space at the top */
    padding-bottom: 20px; /* Restore or adjust the bottom padding */
  }

  
  .headerproject {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }

  .project {
    width: 300px;
  }


}

